  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poppins:wght@300;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#D2E0FB;
   flex-direction: column;
}

.box{
    position: relative;
    width: 450px;
    height: 550px ;
    border-radius: 25px;
    padding: 30px 50px;
    background: rgb(65, 63, 63);
    box-shadow: 25px 25px 75px rgba(0,0, 0,0.25),
    10px 10px 70px rgba(0,0, 0,0.25),
    inset 5px 5px 10px rgba(0,0, 0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2), 
    inset -5px -5px 15px rgba(0,0,0,0.75);
}

h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: azure;
    font-size: 1.75em;
    margin-bottom: 15px;
    font-family: 'Lemon', serif;
   
   

}

#inputBox{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.box li{
    position: relative;
    width: calc(100% - 20PX);
    display: flex;
    align-items: center;
    background: #F9F3CC;
    margin: 15px 0;
    padding: 10px 20px 10px 45px; 
    cursor: pointer;
    border-radius: 22px;
    min-height: 45px;
    box-shadow:5px 5px 7px rgba(0,0,0,0.25),b 
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word; 
    word-break: break-all;
}

.box li::before{
    content: " ";
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 50%;
}



.box li i{
    position: absolute;
    width: 30px;
    right: -40px;
    height: 30px;
    background: #D7E5CA;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: rgb(77, 102, 119) solid 2px;
    box-shadow:5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5),
   
}

.box li i::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #8EACCD;
    transform: rotate(45deg);

}

.box li i::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background:  #8EACCD;
    transform: rotate(-45deg);

}
.box li.done{
    background: #8EACCD;
    }
.box li.done:after{
    content: " ";
    position: absolute;
    left: 16px; ;
    width:12px;  
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(315deg);
}

#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 20px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    background: wheat;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size:10px;
}

@media only screen and (max-width: 490px) {
    body {
      background-color:#D2E0FB;
    }
    .box{
        width: 50vh;
        height: auto;
    }
    
  }